<div class="col-md-6">
  <ul>
    {{#each teamA}}
      <li class="row">
        <div class="col-md-6">
          <i class="glyphicon glyphicon-user"></i>
          {{user.name}}
        </div>
        <div class="col-md-6">
          {{number-with-icon goal icon='star'}}
          {{number-with-icon assist icon='star-empty'}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
<div class="col-md-6">
  <ul>
    {{#each teamB}}
      <li class="row">
        <div class="col-md-6">
          <i class="glyphicon glyphicon-user"></i>
          {{user.name}}
        </div>
        <div class="col-md-6">
          {{number-with-icon goal icon='star'}}
          {{number-with-icon assist icon='star-empty'}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>