<div class="row">
  <div class="col-md-2">
    {{#link-to 'matches.new' class='btn btn-info'}}Új mérkőzés{{/link-to}}
  </div>
  <div class="col-md-10">
    {{#each arrangedContent itemController='match'}}
      <div class="row">
        <div class="col-md-2 match-date">
          {{day matchDate}} <br>
          <small>[{{state}}]</small>
        </div>
        <div class="col-md-10">
          {{#if isStateRSVP}}
            {{partial 'matches/state_rsvp'}}
          {{else}}
            {{partial 'matches/state_played'}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
