<div class="row">
  <div class="col-md-3">
    {{#link-to 'matches' class='btn btn-info'}}
      {{icon 'arrow-left'}}
      Vissza
    {{/link-to}}
    <br><br>

    <div class="match-detail">
      <div>
        <label>Helyszín:</label>
        {{venue}}
      </div>
      <div>
        <label>Időpont:</label>
        {{day matchDate}}
      </div>
      <div>
        <label>Elosztás:</label>
        {{distributionMode}}
      </div>
    </div>
  </div>

  <div class="col-md-9">
    {{#if isStateRSVP}}
      {{partial 'matches/state_rsvp'}}
    {{else}}
      {{partial 'matches/state_played'}}
    {{/if}}

    <br>
    <div class="row teams">
      {{#if isStateRSVP}}
        {{partial 'matches/team_rsvp'}}
      {{/if}}
      {{#if isDistributionOnField}}
        {{partial 'matches/distribution_onfield'}}
      {{/if}}
      {{#if isDistributionOnWeighted}}
        {{partial 'matches/distribution_weighted'}}
      {{/if}}
    </div>
  </div>
</div>

