<div class="row">
  <div class="col-md-3">
    {{#link-to 'matches' class='btn btn-info'}}
      {{icon 'arrow-left'}}
      Vissza
    {{/link-to}}
    <br><br>

    <div class="match-detail">
      <div>
        <label>Helyszín:</label>
        {{venue}}
      </div>
      <div>
        <label>Időpont:</label>
        {{day matchDate}}
      </div>
      <div>
        <label>Elosztás:</label>
        {{distributionMode}}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    {{#link-to 'match' this.id tagName='div' class='row'}}
      <div class="match-result clearfix">
        <div class="col-xs-4 col-md-push-1 team white">Fehér</div>
        <div class="col-xs-2 score white text-right">{{aScore}}</div>
        <div class="col-xs-2 score black">{{bScore}}</div>
        <div class="col-xs-4 col-md-pull-1 text-right team black">Fekete</div>
      </div>
    {{/link-to}}

    <br>
    <div class="row teams">
      {{#if isDistributionOnField}}
        {{partial 'matches/distribution_onfield'}}
      {{/if}}
      {{#if isDistributionOnWeighted}}
        {{partial 'matches/distribution_weighted'}}
      {{/if}}
    </div>
  </div>
</div>

