<table class="table">
  <thead>
    <th>Becenév</th>
    <th>Gólok</th>
    <th>Gólpasszok</th>
    <th>Pont</th>
    <th>Pont / Meccs</th>
  </thead>
  <tbody>
    {{#each arrangedContent}}
      <tr>
        <td>{{#link-to 'user' user}}{{user.nickname}}{{/link-to}}</td>
        <td>{{goals}}</td>
        <td>{{assists}}</td>
        <td>{{points}}</td>
        <td>{{pointsPerMatch}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>