<table class="table">
  <thead>
    <th {{action toggleSort 'user.name'}}>Név</th>
    <th {{action toggleSort 'goals'}}>Gólok</th>
    <th {{action toggleSort 'assists'}}>Gólpasszok</th>
    <th {{action toggleSort 'points'}}>Pont</th>
    <th {{action toggleSort 'pointsPerMatch'}}>Pont / Meccs</th>
  </thead>
  <tbody>
    {{#each arrangedContent}}
      <tr>
        <td>{{#link-to 'user' user}}{{user.name}}{{/link-to}}</td>
        <td>{{goals}}</td>
        <td>{{assists}}</td>
        <td>{{points}}</td>
        <td>{{pointsPerMatch}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>