<ul id="statistic-list">
  {{#each arrangedContent}}
  {{#link-to 'user' user tagName='li' class='row'}}
  <div class="row">
    <div class="col-md-1 date text-right">{{user.nickname}}</div>
    <div class="col-md-9 result">
      <div class="row">
        <div class="col-xs-1">Gól:</div>
        <div class="col-xs-1">{{goals}}</div>
        <div class="col-xs-1">Assist:</div>
        <div class="col-xs-1">{{assists}}</div>
        <div class="col-xs-1">Pont:</div>
        <div class="col-xs-1">{{points}}</div>
        <div class="col-xs-2">Pont/meccs:</div>
        <div class="col-xs-1">{{pointsPerMatch}}</div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  {{/link-to}}
  {{/each}}
</ul>
