<table class="table">
  <thead>
    <th>ID</th>
    <th>Becenév</th>
    <th>Név</th>
    <th>Email cím</th>
    <th>Szerepkör</th>
  </thead>
  <tbody>
    {{#each arrangedContent}}
    <tr>
      <td>{{#link-to 'user' this}}# {{id}}{{/link-to}}</td>
      <td>{{nickname}}</td>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{role}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
